body {
background-color: darkorange;
}

h1 {
    text-align: center;
}

input {
    padding: 20px;
    height: 15px;
}

ul {
    height: auto;
    list-style: none;
    background-color: lightcyan;
}

li {
    padding: px;
}

button{
    padding: 10px;
    margin: 15px;
}

div {
    text-align: center;
}